<body onload="createLike()">
    <a style="display: none;" id="goSite" href=""></a>
    <form id="likes-button" style="display:block ;" action="" method="post" onSubmit="window.location.reload()">
        <input id="input-like" style="display: none;" name="likes" type="text" value="beğenildi">
    </form>
    <form id="un-likes-button" style="display:block ;" action="" method="post" onSubmit="window.location.reload()">
        <input id="input-no-like" style="display: none;" name="un_likes" type="text" value="beğenilmedi">
    </form>
    <div id="support">
        <div class="close" onclick="closePage('support')">X</div>
        <div>
            <img class="logo" src="../img/site-logo.png">
            <h2 style="margin-top:7px;">ResRes'e Bildir</h2>
            <h4 style="margin:7px;">Hayallerini Gerçekleştir</h4>
        </div>

        <textarea
            placeholder="Gözümüzden kaçmış bir sorun olabilir.Ya da birileri müstehcen bir içerik paylaşmıştır. Senden izinsiz paylaşım, telif hakkı,KVKK ihlali gibi durumları belirtmek için yazabilirsin en kısa sürede kayıtlı olduğun mail adresine dönüş yapılacaktır."></textarea>

        <a id="continue" style="text-decoration: none; ">Sorununu Yolla</a>

    </div>
    <div class="header">
        <i onclick="createBars()" class="fas fa-bars bars"></i>
        <a id="icon" href="/images"><img style="height: 98%;" src="../img/site-logo.png"></a>
        <div class="search-div" style="display: flex; align-items: center;  position: relative;">
            <i class="fas fa-search"></i>
            <input form="form" id="searchText" type="text" class="search-input" name="search">
            <i onclick="clearText('searchText')" id="clearText" class="fas fa-times"></i>
        </div>
        <form style="display: none;" id="form" action="/images" method="get"></form>
        <form style="height: 100%; display: flex;  justify-content: space-around;   align-items: center;">
            <a class="button-style" id="login" style="text-decoration: none; cursor: pointer; color: black;"
                href="/images">Anasayfa</a>
            <a id="register" class="button-style" style="text-decoration: none; cursor: pointer; color: black;"
                href="/edit-profil">Profili Düzenle</a>
        </form>
    </div>
    <div style="position: relative;" class="main">
        <div id="leftPane" class="left-pane">
            <button onclick="viewLoginPage('support')" style="font-weight: 800; font-family: Muli;">Destek Bildirimi
                Aç</button>
            <a onclick="changeFragment('fragment1')"><i class="fas fa-mountain"></i>Fotoğraf</a>
            <a onclick="changeFragment('fragment2')"><i class="fas fa-camera"></i>Açıklama</a>
            <a onclick="changeFragment('fragment3')"><i class="fas fa-camera"></i>İndir</a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i>Çıkış Yap</a>

        </div>
        <div class="main-pane">
            <div id="fragment1" class="upload-image fragment">
                <div style="width: auto; max-width: 1000px; margin: 0 !important; height: 700px;" class="kare"
                    onclick="abuabu()">
                    <img class="img-photo" src=<%-"img/"+ models[0].resim %> >
                    <% if (models[0].likes.includes(username)) { %>
                        <i onclick="unLikesButton()" class="like-button fas fa-thumbs-up"><%- models[0].likeSayisi + " Beğeni" %> </i>
                        <% }else{ %>
                            <i onclick="likesButton()" class="like-button far fa-thumbs-up"><%-models[0].likeSayisi + " Beğeni" %></i>

                            <% } %>
                </div>
            </div>

            <div id="fragment2" style="display: none;" class="my-photo fragment">
                <label>Açıklama</label>
                <label>
                    <p>
                        <%-""+models[0].explanation %>
                    </p>

                </label>
                <label>Sahibi</label>
                <label> <a href=<%-"/profil?username="+ models[0].username %> > <%-""+models[0].username %> </a></label>
                <button class=" button-style upload">Resmin sahibiyle iletişime geç</button>
            </div>
            <div id="fragment3" style="display: none;" class="my-photo fragment">
                <div class="my-upload">
                    <div>
                        <span>Fotoğraf</span>
                        <button class="upload button-style">İndir</button>
                    </div>
                    <div>
                        <span>Tarih</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Çözünürlük</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Kısıtlamalar</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Dosya Türü</span>
                        <span>Bilinmiyor</span>
                    </div>
                </div>
                <div class="my-upload">
                    <div>
                        <span>Fotoğraf</span>
                        <button class="upload button-style">İndir</button>
                    </div>
                    <div>
                        <span>Tarih</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Çözünürlük</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Kısıtlamalar</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Dosya Türü</span>
                        <span>Bilinmiyor</span>
                    </div>
                </div>
                <div class="my-upload">
                    <div>
                        <span>Fotoğraf</span>
                        <button class="upload button-style">İndir</button>
                    </div>
                    <div>
                        <span>Tarih</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Çözünürlük</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Kısıtlamalar</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Dosya Türü</span>
                        <span>Bilinmiyor</span>
                    </div>
                </div>
                <div class="my-upload">
                    <div>
                        <span>Fotoğraf</span>
                        <button class="upload button-style">İndir</button>
                    </div>
                    <div>
                        <span>Tarih</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Çözünürlük</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Kısıtlamalar</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Dosya Türü</span>
                        <span>Bilinmiyor</span>
                    </div>
                </div>
                <div class="my-upload">
                    <div>
                        <span>Fotoğraf</span>
                        <button class="upload button-style">İndir</button>
                    </div>
                    <div>
                        <span>Tarih</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Çözünürlük</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Kısıtlamalar</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Dosya Türü</span>
                        <span>Bilinmiyor</span>
                    </div>
                </div>
                <div class="my-upload">
                    <div>
                        <span>Fotoğraf</span>
                        <button class="upload button-style">İndir</button>
                    </div>
                    <div>
                        <span>Tarih</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Çözünürlük</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Kısıtlamalar</span>
                        <span>Bilinmiyor</span>
                    </div>
                    <div>
                        <span>Dosya Türü</span>
                        <span>Bilinmiyor</span>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://kit.fontawesome.com/157dbdbd32.js" crossorigin="anonymous"></script>
        <script src="../js/index.js"></script>
        <script src="../js/fragment.js"></script>


        <!--    
        <div class="img-test">
            <img class="img-photo" src="img/loading.gif">
            <a href="#" class="text a-decor">
                <span>Devamını Oku </span> 
                </a>
        </div>-->
        <style>

        </style>
</body>